.header-top {

	background: #02313B;

}

a.button.border, a.button {

    background: #02313B;

}

#main-menu ul li a:hover {

	background: #02313B;

}

#main-menu .dropdown-menu a:hover {

	background: #02313B;

}

.bloq-search input[type="text"] {

	border: 1px solid #02313B;

}

.bloq-search input[type="submit"] {

	background: #02313B;

}

.google-maps .filter {

	background: #02313B;

}

.section-title:before {

	background-color: #02313B;

}

.parallax-searchs .form-group .nice-select i,

.parallax-searchs .form-group .nice-select:hover {

    color: #02313B;

}

.nice-select .option:hover,

.parallax-searchs .form-group .btn {

    background: #02313B !important;

}

.listing-hidden-content.blue {

    background: #02313B;

}

.section-title h2 {

	color: #02313B;

}

.recently .homes-content .homes-list li {

	color: #02313B;

}

.recently .homes-content .homes-list li i {

	color: #02313B;

}

.btn.btn-outline-light,

.first-footer .newsletters h3::after {

    background: #02313B;

}

.welcome-title h2 span,

.welcome-title h2 span {

	color: #02313B;

}

.welcome .popup-youtube,

.first-footer .contactus ul li .fa {

	color:#ffffff;

}

.welcome .wprt-image-video .iq-waves .waves {

	background: rgb(250, 41, 100) none repeat scroll 0 0 padding-box;

}

.services-home .bg-base,

.first-footer .bloq-email .email input[type="submit"] {

	background: #047189;

}

#navigation.style-1 .current {

    color: #02313B;

}

#navigation.style-1 ul li:hover {

    background: #02313B;

}

.feature-cities-1 .listing-badges .featured {

    background: #02313B;

}

.services-home a.text-base,

.twitter-widget.contuct .twitter-area .text h5 a {

	color: #02313B;

}

.portfolio .homes-content .homes-list li {

	color: #02313B;

}

.portfolio .homes-content .homes-list li i {

    color: #696969;

    font-size: 18px;

}

.portfolio .footer i {

    color: #696969;

    font-size: 16px;

}

.top-location .owl-theme .owl-nav [class*=owl-] {

	background: #02313B;

}

.blog-section .news-item a:hover h3 {

	color: #02313B;

}

.blog-section .news-link {

	color: #02313B;

}

.testimonials .test-1 p::before {

	color: #02313B;

}

.testimonials .test-1 h3 {

	color: #02313B;

}

.owl-dot.active {

	background: #02313B !important;

}

.counterup .countr .fa {

	color: #02313B;

}

.realhome_subscribe input {

	border-color: #02313B;

}

.realhome_form_subscribe button {

	background: #02313B;

	border: 2px solid #02313B;

}

.first-footer .netabout h3::after,

.first-footer .navigation h3::after,

.first-footer .widget h3::after,

.first-footer .contactus h3::after {

	background-color: #02313B;

}

.first-footer .btn {

	background: #02313B;

}

.first-footer .btn:hover {

	background: transparent;

}

.navigation ul li a:hover {

	color: #1095b1;

}

.twitter-widget.contuct .twitter-area .icon-holder i {

	color: #02313B;

}

.twitter-widget.contuct .twitter-area .text h4,

.inner-pages .twitter-widget.contuct .twitter-area .text h4 {

	color: #02313B;

}

.second-footer {

	background: #303441;

}

.go-up {

	background: #02313B;

}

@media only screen and (max-width: 991px) {

.homepage-6 .bg-all {

    margin-top: 30px !important;

    }

}

.main-search-field {

	background: #02313B;

}

.btn-default.btn-theme-colored2:hover {

	background: #02313B;

}

.text-theme-colored2 {

	color: #02313B !important;

}

.btn-dark.btn-theme-colored {

	background-color: #02313B;

}

.parallax-search .form-group .nice-select:hover {

	color: #02313B;

}

.parallax-search .form-group .nice-select i {

	color: #02313B;

}

.parallax-search .form-group .list li:hover {

	background: #02313B;

}

.parallax-search .form-group .btn {

	background: #02313B;

}

.inner-pages .blog .active-view-btn:hover {

	background: #02313B !important;

}

.inner-pages .change-view-btn:hover {

	color: #02313B !important;

}

.inner-pages .blog .block-heading .change-view-btn.lde:hover {

	background: #02313B;

}

.inner-pages .blog .section-heading .media .media-left i {

	background: #02313B;

}

.inner-pages .blog .main-search-field select {

	background: #02313B;

}

.inner-pages .blog .at-input {

	border: 2px solid #02313B;

}

.inner-pages .blog .ui-widget.ui-widget-content {

	background: #02313B;

}

.inner-pages .blog .hvr-bounce-to-right {

	background: #02313B;

}

.inner-pages .widget h5::after {

	background-color: #02313B;

}

.inner-pages .portfolio .footer i {

	color: #02313B;

}

.inner-pages .recent-post .tags a:hover {

	color: #02313B;

	border-color: #02313B;

}

.page-item.active .page-link {

    background: #02313B;

    border-color: #02313B;

}

.page-link {

    color: #02313B;

}

.inner-pages .blog .homes-content.details-2 .fa {

	color: #02313B;

}

.inner-pages .blog .sorting-options h5 {

	color: #02313B;

}

.inner-pages .blog .homes-content h5::after,

.inner-pages .blog .blog-info.details h5::after,

.inner-pages .blog .property-location h5::after,

.inner-pages .blog .team.assigned h5::after {

	color: #02313B;

	background-color: #02313B;

}

.inner-pages .blog .homes-content.details .fa {

	color: #02313B;

}

.inner-pages .button.alt {

	background-color: #02313B;

}

.inner-pages .agent-details a:hover {

	color: #02313B;

}

.inner-pages .agent-details .fa {

	color: #02313B;

}

.inner-pages .about-us .who-1 h2 span {

	color: #02313B;

}

.inner-pages .about-us .wprt-image-video .icon-wrap {

	background-color: #02313B;

}

.bg-2 .button {

    border-color: #02313B;

}

.inner-pages .panel .panel-heading a {

	background: #02313B;

}

.plan-price {

	background: #02313B;

}

.plan-price:after {

	border-top-color: #02313B;

}

.plan a.btn {

	background: #02313B;

}

.inner-pages .top-headings h2 {

	color: #02313B;

}

.inner-pages .port-info .btn {

	background: #02313B;

	border: 1px solid #02313B;

}

#login .btn_1, a.btn_1 {

    background: #02313B;

}

.inner-pages .blog .social .date {

	background-color: #02313B;

}

.blog-pots figure {

	background: #02313B;

}

.blog .blog-pots .fa {

	color: #02313B;

}

.btn-secondary {

	background: #02313B;

}

.single-blog-post .img-box .overlay {

	background: rgba(250, 41, 100, 0.8);

}

.inner-pages .form-control {

	border: 1px solid #02313B;

}

.inner-pages .input-group-btn .btn-primary {

	background: #02313B;

	border: 1px solid #02313B;

}

.inner-pages .input-group-btn .btn-primary:hover {

	color: #02313B;

}

.inner-pages .comments-info h5 {

	color: #02313B;

}

.inner-pages .comments h3::after,

.inner-pages .leve-comments h3::after {

	background-color: #02313B;

}

.inner-pages .leve-comments .btn {

	background: #02313B;

	border: 1px solid #02313B;

}

.inner-pages .leve-comments .btn:hover {

	border: 1px solid #02313B;

}

.inner-pages .contact-us .btn {

	background: #02313B;

	border: 1px solid #02313B;

}

.inner-pages .contact-us .btn:hover {

	border: 1px solid #02313B;

}

.inner-pages .call-info h3::after {

	background-color: #02313B;

}

.inner-pages .call-info ul li .fa {

	color: #02313B;

}

.inner-pages .single-add-property > h3 {

	color: #02313B;

}

.inner-pages .prperty-submit-button > button {

	background: #02313B none repeat scroll 0 0;

}

.leaflet-div-icon, .map-marker {

	background-color: #02313B;

	border: 5px solid #02313B;

}

.leaflet-div-icon:before, .map-marker:before {

	border-top-color: #02313B;

}

.listing-window-image:before {

	background-color: #02313B;

}

.listing-window-content h3 {

	background-color: #02313B;

}

.blog-section .action-list .fa-comment {

    color: #02313B;

}

.blog-section .action-list .fa-share-alt {

    color: #02313B;

}

.blog-section .action-list .fa-heart {

    color: #02313B;

}

section.pricing-table {

    padding: 6rem 0;

    background: #fff;

}